.add-form {
    width: 100%;
    padding: 30px 300px;
}

.add-form input,
.add-form textarea,
.add-form button {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

.add-form input,
.add-form textarea {
    padding-left: 20px;
}