.add {
    width: 30%;
    height: auto;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
}

.add img {
    width: 150px;
    height: auto;
    object-fit: contain;
}